@page
@model weblego.Pages.ChiTietSanPhamModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/chitietsanpham.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid product-view">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <img src="~/image/@SanPhamAdd.hinhAnh" class="img-fluid product-image">
            </div>
            <div class="col-sm-6">
                <div class="product-info container">
                    <div class="row">
                        <span class="product-name">@SanPhamAdd.tenSP</span>
                    </div>
                    <div class="row">
                        <span class="product-id">#@SanPhamAdd.maSP</span>
                    </div>
                    <div class="row">
                        <span class="product-theme">Theme: @SanPhamAdd.chuDe</span>
                    </div>
                    <div class="row">
                        <span class="product-age">Age: @SanPhamAdd.doTuoi+</span>
                    </div>
                    <div class="row">
                        <span class="product-price">$@SanPhamAdd.donGia</span>
                    </div>
                    <div class="row">
                        <!-- Form để gửi dữ liệu khi bấm nút Add to bag -->
                        <form method="post">
                            <button type="submit" class="btn btn-success product-btn" asp-page-handler="AddToBag">Add to bag</button>
                        </form>
                    </div>
                    @if (ViewData["Message"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewData["Message"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>