@page
@model weblego.Pages.ChiTietSanPhamModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/chitietsanpham.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid product-view">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <img src="~/image/@Model.hinhAnh" class="img-fluid product-image">
            </div>
            <div class="col-sm-6">
                <div class="product-info container">
                    <div class="row">
                        <span class="product-name">@Model.tenSP</span>
                    </div>
                    <div class="row">
                        <span class="product-id">#@Model.maSP</span>
                    </div>
                    <div class="row">
                        <span class="product-theme">Theme: @Model.chuDe</span>
                    </div>
                    <div class="row">
                        <span class="product-age">Age: @Model.doTuoi+</span>
                    </div>
                    <div class="row">
                        <span class="product-price">$@Model.donGia</span>
                    </div>
                    <div class="row">
                        <!-- Form để gửi dữ liệu khi bấm nút Add to bag -->
                        <form method="post">
                            <button type="submit" class="btn btn-success product-btn" name="buttonAction" value="AddToBag">Add to bag</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>