@page
@model weblego.Pages.SanPhamTheoDoTuoiModel
@{
    ViewData["Title"] = "Home page";
    var danhSachSanPham = DanhSachSanPham.danhSachSanPham;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/productview.css" rel="stylesheet">
</head>
<body>
    <form method="post">
        <div class="container-md" style="margin-top: 20px;">
            <div class="row align-items-center theme-view">
                <div class="col-sm-4">
                    <button class="btn theme-name" type="submit" name="buttonId" value="btn1">
                        <span class="age-view">1+</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn theme-name" type="submit" name="buttonId" value="btn2">
                        <span class="age-view">8+</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn theme-name" type="submit" name="buttonId" value="btn3">
                        <span class="age-view">12+</span>
                    </button>
                </div>
                
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>By age: @PhanLoai.DoTuoi+</h2>
            </div>
        </div>

    </div>

    <div class="container-fluid" id="itemviewlist">
        <div class="row">
            @foreach (var sanPham in danhSachSanPham)
            {
                @if (sanPham.DoTuoi > PhanLoai.DoTuoi)
                {
                    <div class="col-sm-3 product-view">
                        <img src="~/image/@sanPham.HinhAnh" class="product-image img-fluid"><hr>
                        <div class="product-details">
                            <!-- Thay đổi thẻ p thành thẻ a -->
                            <a href="ChiTietSanPham?id=@sanPham.MaSP" class="product-name link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@sanPham.TenSP</a>
                            <p class="product-price">$@sanPham.DonGia</p>
                        </div>
                    </div>
                }

            }

        </div>
    </div>




</body>


</html>

